/* Root Application */
#app{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding-top: 20px !important;
    padding: 0px 20px;
}

a{
    text-decoration: none;
    color: black;
}

/* Fontstyle */


/* Home Section */
.buy-credit-provider{
    border-radius: 20px;
    /* background-color: pink; */
    padding: 15px;
}
.outer{
    overflow: scroll;
    width: 100%;
}
.marketplace{
    width: 1000px;
}
.card-product{
    margin-left: 14px;
    padding: 0px;
    width: 165px;
    border-radius: 10px;
}
.card-img{
    width: 100% !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

/* Martketplace */
.card-product-marketplace{
    margin-bottom: 10px;
    margin-right: 7px;
    padding: 0px;
    width: 165px;
    border-radius: 10px;
}
.product-detail{
    z-index: -999;
    overflow: scroll;
}
.nav-bottom-product{
    z-index: 9999;
    padding-top: 5px;
    padding-left: 20px;
    height: 60px;
    width: 100%;
}